{% extends "includes/main.html" %}
{% block content %}
    <section id="Project" class="content-section active">
        <div class="educ">
            <h1 style="font-weight: 600;">Projects</h1>
            <hr id="hor-line" >

            <!-- Projects section -->
                <div class="proj-overview">
                    {% comment %} <div class="prj-1">
                        <div id="prj-1">
                            <img src="images/project-1.jpg" alt="">
                        </div>
                        <div class="proj-tit">
                            <h4>Student Management System</h4>
                            <p>Web Application</p>
                        </div> 
                    </div>
                    <div class="prj-1">
                        <div id="prj-1">
                                <img src="images/project2-flipkart.jpeg" alt="">
                                <!-- <div class="imgicon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon s-ion-icon" viewBox="0 0 512 512"><title>Eye</title>
                                    <path d="M255.66 112c-77.94 0-157.89 45.11-220.83 135.33a16 16 0 00-.27 17.77C82.92 340.8 161.8 400 255.66 400c92.84 0 173.34-59.38 221.79-135.25a16.14 16.14 0 000-17.47C428.89 172.28 347.8 112 255.66 112z" stroke-linecap="round" stroke-linejoin="round" class="ionicon-fill-none ionicon-stroke-width"></path>
                                    <circle cx="256" cy="256" r="80" stroke-miterlimit="10" class="ionicon-fill-none ionicon-stroke-width"></circle></svg>
                                </div> -->
                        </div>
                        <div class="proj-tit">
                            <h4>Flipkart Clone</h4>
                            <p>Web Developement</p>
                        </div>
                    </div>
                    <div class="prj-1">
                        <div id="prj-1">
                                <img src="images/project-4.png" alt="">
                        </div>
                        <div class="proj-tit">
                            <h4>Youtube Clone</h4>
                            <p>Web Developement</p>
                        </div>
                    </div>
                    <div class="prj-1">
                        <div id="prj-1">
                                <img src="images/project-2.png" alt="">
                        </div>
                        <div class="proj-tit">
                            <h4>Gym Website</h4>
                            <p>Web Developement</p>
                        </div>
                    </div>
                    <div class="prj-1">
                        <div id="prj-1">
                                <img src="images/projects - 3.jpg" alt="">
                        </div>
                        <div class="proj-tit">
                            <h4>Food Delivery Website</h4>
                            <p>Web Developement</p>
                        </div>
                    </div> {% endcomment %}
                    {% for project in data %}
                    <div class="prj-1">
                        <div id="prj-1">
                            <a href="{{ project.live_link }}" target="_blank"><img src="{{ project.image.url }}" alt="project-image"></a>
                        </div>
                        <div class="proj-tit">
                            <h4>{{ project.name }}</h4>
                            <p>{{ project.tech_stack }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </section>
{% endblock %}